<a href="https://colab.research.google.com/github/saivaruntejamudumba/Python-Scripts/blob/master/Analytics_Vidhya_Sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import re
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import string
import nltk

In [0]:
test=pd.read_csv('test_oJQbWVk.csv')

In [0]:
test_df=pd.DataFrame(test)

In [19]:
test_df.head()

     id                                              tweet
0  7921  I hate the new #iphone upgrade. Won't let me d...
1  7922  currently shitting my fucking pants. #apple #i...
2  7923  I'd like to puts some CD-ROMS on my iPad, is t...
3  7924  My ipod is officially dead. I lost all my pict...
4  7925  Been fighting iTunes all night! I only want th...

In [0]:
train=pd.read_csv('train_2kmZucJ.csv')
train_df=pd.DataFrame(train)

In [21]:
train_df.head()

   id  label                                              tweet
0   1      0  #fingerprint #Pregnancy Test https://goo.gl/h1...
1   2      0  Finally a transparant silicon case ^^ Thanks t...
2   3      0  We love this! Would you go? #talk #makememorie...
3   4      0  I'm wired I know I'm George I was made that wa...
4   5      1  What amazing service! Apple won't even talk to...

In [0]:
combi=train_df.append(test_df, ignore_index=True)

In [25]:
combi.tail()

        id  label                                              tweet
9868  9869    NaN  #SamsungGalaxyNote7 Explodes, Burns 6-Year-Old...
9869  9870    NaN  Now Available - Hoodie. Check it out here - ht...
9870  9871    NaN  There goes a crack right across the screen. If...
9871  9872    NaN  @codeofinterest as i said #Adobe big time we m...
9872  9873    NaN  Finally I got it .. thanx my father .. #Samsun...

In [0]:
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
        
    return input_txt

In [0]:
combi['tidy_tweet'] = np.vectorize(remove_pattern)(combi['tweet'], "@[\w]*")

In [31]:
combi.head()

,id,label,tweet,tidy_tweet
0,1,0.0,#fingerprint #Pregnancy Test https://goo.gl/h1...,#fingerprint #Pregnancy Test https://goo.gl/h1...
1,2,0.0,Finally a transparant silicon case ^^ Thanks t...,Finally a transparant silicon case ^^ Thanks t...
2,3,0.0,We love this! Would you go? #talk #makememorie...,We love this! Would you go? #talk #makememorie...
3,4,0.0,I'm wired I know I'm George I was made that wa...,I'm wired I know I'm George I was made that wa...
4,5,1.0,What amazing service! Apple won't even talk to...,What amazing service! Apple won't even talk to...

In [0]:
combi['tidy_tweet'] = combi['tidy_tweet'].str.replace("[^a-zA-Z#]", " ")

In [33]:
combi.head()

,id,label,tweet,tidy_tweet
0,1,0.0,#fingerprint #Pregnancy Test https://goo.gl/h1...,#fingerprint #Pregnancy Test https goo gl h ...
1,2,0.0,Finally a transparant silicon case ^^ Thanks t...,Finally a transparant silicon case Thanks t...
2,3,0.0,We love this! Would you go? #talk #makememorie...,We love this Would you go #talk #makememorie...
3,4,0.0,I'm wired I know I'm George I was made that wa...,I m wired I know I m George I was made that wa...
4,5,1.0,What amazing service! Apple won't even talk to...,What amazing service Apple won t even talk to...

In [0]:
combi['tidy_tweet'] = combi['tidy_tweet'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))

In [35]:
combi.head()

,id,label,tweet,tidy_tweet
0,1,0.0,#fingerprint #Pregnancy Test https://goo.gl/h1...,#fingerprint #Pregnancy Test https MfQV #andro...
1,2,0.0,Finally a transparant silicon case ^^ Thanks t...,Finally transparant silicon case Thanks uncle ...
2,3,0.0,We love this! Would you go? #talk #makememorie...,love this Would #talk #makememories #unplug #r...
3,4,0.0,I'm wired I know I'm George I was made that wa...,wired know George made that #iphone #cute #dav...
4,5,1.0,What amazing service! Apple won't even talk to...,What amazing service Apple even talk about que...

In [0]:
tokens=combi['tidy_tweet'].apply(lambda x: x.split())

In [37]:
tokens.head()

0    [#fingerprint, #Pregnancy, Test, https, MfQV, ...
1    [Finally, transparant, silicon, case, Thanks, ...
2    [love, this, Would, #talk, #makememories, #unp...
3    [wired, know, George, made, that, #iphone, #cu...
4    [What, amazing, service, Apple, even, talk, ab...
Name: tidy_tweet, dtype: object

In [0]:
from nltk.stem.porter import *

In [0]:
stemmer= PorterStemmer()

In [41]:
print(stemmer.stem('classifying'))

classifi

In [0]:
tokens=tokens.apply(lambda x: [stemmer.stem(i) for i in x])

In [46]:
tokens.head()

0    [#fingerprint, #pregnanc, test, http, mfqv, #a...
1    [final, transpar, silicon, case, thank, uncl, ...
2    [love, thi, would, #talk, #makememori, #unplug...
3    [wire, know, georg, made, that, #iphon, #cute,...
4    [what, amaz, servic, appl, even, talk, about, ...
Name: tidy_tweet, dtype: object

In [0]:
for i in range(len(tokens)):
  tokens[i]=' '.join(tokens[i])

In [0]:
combi['tidy_tweet']=tokens

In [50]:
combi.head()

,id,label,tweet,tidy_tweet
0,1,0.0,#fingerprint #Pregnancy Test https://goo.gl/h1...,#fingerprint #pregnanc test http mfqv #android...
1,2,0.0,Finally a transparant silicon case ^^ Thanks t...,final transpar silicon case thank uncl #yay #s...
2,3,0.0,We love this! Would you go? #talk #makememorie...,love thi would #talk #makememori #unplug #rela...
3,4,0.0,I'm wired I know I'm George I was made that wa...,wire know georg made that #iphon #cute #davent...
4,5,1.0,What amazing service! Apple won't even talk to...,what amaz servic appl even talk about question...

In [0]:
from textblob import TextBlob

In [0]:
pred=[]
for i in range(len(combi.tidy_tweet)):
    test_str = combi.iloc[i].tidy_tweet
    blob= TextBlob(test_str)
    x=blob.sentiment.polarity
    if(x<=0):
        pred.append(0);
    else:
        pred.append(1);

In [0]:
combi['pred']=pred

In [54]:
combi.head()

,id,label,tweet,tidy_tweet,pred
0,1,0.0,#fingerprint #Pregnancy Test https://goo.gl/h1...,#fingerprint #pregnanc test http mfqv #android...,1
1,2,0.0,Finally a transparant silicon case ^^ Thanks t...,final transpar silicon case thank uncl #yay #s...,0
2,3,0.0,We love this! Would you go? #talk #makememorie...,love thi would #talk #makememori #unplug #rela...,1
3,4,0.0,I'm wired I know I'm George I was made that wa...,wire know georg made that #iphon #cute #davent...,1
4,5,1.0,What amazing service! Apple won't even talk to...,what amaz servic appl even talk about question...,0

In [0]:
combi['label']=combi['label'].fillna('-1')

In [0]:
result=combi[combi['label']== '-1']

In [68]:
result.head()

,id,label,tweet,tidy_tweet,pred
7920,7921,-1,I hate the new #iphone upgrade. Won't let me d...,hate #iphon upgrad download app #ugh #appl suck,0
7921,7922,-1,currently shitting my fucking pants. #apple #i...,current shit fuck pant #appl #imac #cashmoney ...,0
7922,7923,-1,"I'd like to puts some CD-ROMS on my iPad, is t...",like put some rom ipad that possibl wouldn tha...,0
7923,7924,-1,My ipod is officially dead. I lost all my pict...,ipod offici dead lost pictur video from concer...,0
7924,7925,-1,Been fighting iTunes all night! I only want th...,been fight itun night onli want music paid,0

In [0]:
result=result.drop(columns=['label', 'tweet','tidy_tweet'])

In [84]:
result

        id  pred
7920  7921     0
7921  7922     0
7922  7923     0
7923  7924     0
7924  7925     0
7925  7926     0
7926  7927     0
7927  7928     1
7928  7929     0
7929  7930     1
7930  7931     1
7931  7932     0
7932  7933     1
7933  7934     1
7934  7935     1
7935  7936     0
7936  7937     1
7937  7938     0
7938  7939     0
7939  7940     0
7940  7941     1
7941  7942     1
7942  7943     0
7943  7944     1
7944  7945     1
7945  7946     1
7946  7947     1
7947  7948     0
7948  7949     0
7949  7950     1
...    ...   ...
9843  9844     1
9844  9845     0
9845  9846     0
9846  9847     0
9847  9848     0
9848  9849     0
9849  9850     1
9850  9851     0
9851  9852     0
9852  9853     1
9853  9854     0
9854  9855     0
9855  9856     0
9856  9857     1
9857  9858     0
9858  9859     1
9859  9860     1
9860  9861     0
9861  9862     1
9862  9863     0
9863  9864     1
9864  9865     0
9865  9866     0
9866  9867     0
9867  9868     1
9868  9869     0
9869  9870     1
9870  9871     1
9871  9872     0
9872  9873     1

[1953 rows x 2 columns]

In [0]:
x=result.to_csv(index=False)

In [0]:
from google.colab import files

with open('result.csv', 'w') as f:
  f.write(x)

files.download('result.csv')