In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/wshuyi/info-5731-public/master/yelp_review_polarity_small_sample_200.csv")

In [2]:
df.head()

   sentiment                                               text
0          1  Great chicken and rib combs which include a dr...
1          0  This place is a joke.  The food tastes like it...
2          1  Good food with a fun atmosphere.  I like every...
3          0  What a painful process it was purchasing our c...
4          1  Headed here yesterday in search of a food mill...

In [3]:
from textblob import TextBlob

In [4]:
test_str = df.iloc[0].text

In [5]:
test_str

"Great chicken and rib combs which include a drink. Can't beat that!. Ribs are seasoned and cooked to perfection. Even though, the restaurant provides you with a secret sauce, you don't need any sauce. The secret sauce is sweet and tangy. \\n\\nThey have many interesting side dishes. The spinach and feta salad is perfectly blended. They have a wide variety of healthy menu choices including wraps. The cucumber salad is divine! You can find it in the free salad bar. It's sweet, salty, and sour taste plays tricks with your tongue. \\n\\nLooking to cater an event? They will do it for you!"

In [7]:
blob= TextBlob(test_str)
blob

TextBlob("Great chicken and rib combs which include a drink. Can't beat that!. Ribs are seasoned and cooked to perfection. Even though, the restaurant provides you with a secret sauce, you don't need any sauce. The secret sauce is sweet and tangy. \n\nThey have many interesting side dishes. The spinach and feta salad is perfectly blended. They have a wide variety of healthy menu choices including wraps. The cucumber salad is divine! You can find it in the free salad bar. It's sweet, salty, and sour taste plays tricks with your tongue. \n\nLooking to cater an event? They will do it for you!")

In [8]:
blob.sentiment

Sentiment(polarity=0.20982142857142858, subjectivity=0.6035714285714285)

In [19]:
pred=[]
for i in range(len(df.text)):
    test_str = df.iloc[i].text
    blob= TextBlob(test_str)
    x=blob.sentiment.polarity
    if(x<=0):
        pred.append(0);
    else:
        pred.append(1);

In [20]:
pred

[1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0]

In [21]:
df['pred']=pred

In [22]:
df.head()

   sentiment                                               text  pred
0          1  Great chicken and rib combs which include a dr...     1
1          0  This place is a joke.  The food tastes like it...     1
2          1  Good food with a fun atmosphere.  I like every...     1
3          0  What a painful process it was purchasing our c...     0
4          1  Headed here yesterday in search of a food mill...     1

In [34]:
pdlen=len(df)

SyntaxError: invalid syntax (<ipython-input-34-3f00418dc9f1>, line 2)

In [36]:
count=0
for i in range(pdlen):
    if(df.sentiment[i] == df.pred[i]):
        count = count+1;

In [37]:
count

131

In [38]:
pdlen

200

In [39]:
accuracy=count/pdlen

In [40]:
accuracy

0.655

In [44]:
import numpy as np
from sklearn.metrics import accuracy_score

In [45]:
accuracy_score(df.sentiment, df.pred)

0.655

# Another way

In [42]:
def get_sentiment(text):
    pred= TextBlob(text).sentiment[0]
    if pred > 0:
        return 1
    else:
        return 0

In [43]:
get_sentiment(test_str)

0

In [46]:
(df.sentiment == df.pred).sum()/len(df)

0.655

# Other parts

In [47]:
blob.ngrams(2)

[WordList(['The', 'only']),
 WordList(['only', 'good']),
 WordList(['good', 'thing']),
 WordList(['thing', 'about']),
 WordList(['about', 'this']),
 WordList(['this', 'hotel']),
 WordList(['hotel', 'is']),
 WordList(['is', 'the']),
 WordList(['the', 'location']),
 WordList(['location', 'The']),
 WordList(['The', 'rooms']),
 WordList(['rooms', 'are']),
 WordList(['are', 'nasty']),
 WordList(['nasty', 'no']),
 WordList(['no', 'fridge']),
 WordList(['fridge', 'and']),
 WordList(['and', 'there']),
 WordList(['there', 'is']),
 WordList(['is', 'an']),
 WordList(['an', 'extra']),
 WordList(['extra', 'charge']),
 WordList(['charge', 'to']),
 WordList(['to', 'use']),
 WordList(['use', 'the']),
 WordList(['the', 'gym']),
 WordList(['gym', 'daily']),
 WordList(['daily', 'Well']),
 WordList(['Well', 'as']),
 WordList(['as', 'they']),
 WordList(['they', 'always']),
 WordList(['always', 'say']),
 WordList(['say', 'You']),
 WordList(['You', 'get']),
 WordList(['get', 'what']),
 WordList(['what', 'you']),
 WordList(['you', 'pay']),
 WordList(['pay', 'for']),
 WordList(['for', 'This']),
 WordList(['This', 'hotel']),
 WordList(['hotel', 'is']),
 WordList(['is', 'not']),
 WordList(['not', 'worth']),
 WordList(['worth', 'the']),
 WordList(['the', 'money']),
 WordList(['money', 'unless']),
 WordList(['unless', 'you']),
 WordList(['you', 'do']),
 WordList(['do', "n't"]),
 WordList(["n't", 'care']),
 WordList(['care', 'about']),
 WordList(['about', 'where']),
 WordList(['where', 'you']),
 WordList(['you', 'lay']),
 WordList(['lay', 'your']),
 WordList(['your', 'head'])]

In [48]:
blob.translate(to='te')

TextBlob("ఈ హోటల్ గురించి మంచిది మాత్రమే. గదులు మురికిగా ఉంటాయి, ఫ్రిజ్ లేదు మరియు రోజువారీ వ్యాయామశాలను ఉపయోగించడానికి అదనపు చార్జ్ ఉంది. వారు ఎల్లప్పుడూ చెప్పినట్లుగా, \ "మీరు చెల్లించాల్సిన వాటిని పొందుతారు. \" మీరు మీ తల వేయడానికి ఎక్కడ పట్టించుకోనట్లయితే ఈ హోటల్ డబ్బు విలువైనది కాదు.")