<a href="https://colab.research.google.com/github/saivaruntejamudumba/Python-Scripts/blob/master/Suji_wal2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [98]:
import math
i=0
T=int(input("Enter T value\n"))
while(i < T):
  n=int(input("Enter N value\n"))
  suml=[]
  min=0
  # Iterating x from 1 to n 
  for x in range(1, n): 
    l1=[]  
    for c in range(1,n-x):
      if(c<(n-x) and (c>=(n/x))):
        l1.append(c)
        if(l1!=[]):
          for items in l1:
            suml.append((x+items))
  min=suml[0]
  for s in suml:
    
    
    if s < min:
      min=s
  print(min)
  i=i+1

Enter T value
1
Enter N value
15
8